.main-container {
    margin-top: 50px; 
    margin-bottom: 0;
}
* {
    font-family: 'Roboto', sans-serif;
}
.size {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star {
    position: relative;
    display: inline-block;
}
.star .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 1px solid black;
    padding: 5px 0;
    position: absolute;
    top: 0px;
    left: 105%;
    z-index: 1;
}
.star:hover .tooltiptext {
    visibility: visible;
}
.banner {
    background-color: white;
    border: none;
}
.order {
    margin-right: 4px;
}
.item {
    margin-top: 0;
    margin-bottom: 30px;
}
img {
    width: 100%;
}
.model {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 270px;
    position: relative;
}
.freeShip {
    position: absolute;
    color: rgb(236, 236, 236);
    top: 0;
    right: 15px;
    padding: 5px;
    font-size: 0.6em;
    background-color: rgb(27, 26, 32);
}
h2, h4, h5, p {
    text-align: center;
}
h5 {
    margin-bottom: 0;
}
p {
    font-size: 16px;
}
.line {
    font-size:20px;
    color: yellow;
    padding-top: 0;
    margin-top: 0;
}
b {
    font-size: 24px;
}
.cart {
    background-color: black;
    border-radius: 0;
    border: none;
    color: #fff;
}
.cart:hover {
    background-color: yellow;
}